<% @title = "edit" %>
<h1>Editing recipe</h1>

<%= render 'form' %>

<%= link_to 'Show', @recipe, :class => "btn-small btn-info"  %>
<%= link_to 'Back', recipes_path, :class => "btn-small btn-inverse"  %>
