<% @title = "edit" %>
<h2>Editing ingredient</h2>

<%= render 'form' %>

<%= link_to 'Show', @ingredient, :class => "btn-small btn-info"  %>
<%= link_to 'Back', ingredients_path, :class => "btn-small btn-inverse"  %>
